out/
build/
.vscode/
.vs/
python_src/.idea
python_src/wandb
python_src/eval_pgns
python_src/__pycache__
python_src/replay_buffer
python_src/checkpoints_onnx
docs/PGN/all
training_data/
lichess_bot/

lichess_token.txt
*.exe
*.dll
CMakeUserPresets.json